.systematic-overlay {
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.systematic-overlay.visible {
	opacity: 1;
}

.systematic-tree-container {
	border: 1px solid var(--vscode-widget-border);
	background-color: var(--vscode-sideBar-background);
}

.systematic-tree-container .custom-view-tree-node-item {
	padding: 4px 8px;
}



.systematic-tree-container .customview-tree {
	width: 200px;
}

.systematic-tree-container .monaco-list-row:hover:not(.selected) {
	background-color: var(--vscode-list-hoverBackground);
}

.systematic-tree-container .monaco-list-row.selected {
	background-color: var(--vscode-list-activeSelectionBackground);
	color: var(--vscode-list-activeSelectionForeground);
}
